@model UserViewModel

<h1>Welcome to MVC Video Store</h1>

<form asp-controller="User" asp-action="LogIn" method="post">
    <div class="form-group">
        <label asp-for="Email" class="form-label">Email address</label>
        <input asp-for="Email" type="email" class="form-control w-50" placeholder="Enter email">
    </div>
    <br />
    <div class="form-group">
        <label asp-for="Password" class="form-label">Password</label>
        <input asp-for="Password" type="password" class="form-control w-50" placeholder="Password">
    </div>
    <br/>
    <div>
        <button type="submit" class="btn btn-primary">Log In</button>
        <a asp-controller="User" asp-action="Create" class="btn btn-primary">Sign Up</a>
    </div>
    
</form>